body
{
    background-color: #B1D7B4;
    font-family: Arial, Helvetica, sans-serif;
}
hr
{
    border-style: none;
    border-style: dotted none none none;
    border-width: 5px;
    border-color: #3D8361;
    width: 5%;
}
h1
{
    color: #0B4619
}
h3 
{
    color: #0B4619
}
img:hover
{
    background-color: #B6E388;
    border-radius: 25% 10%;
}   